/* RESET START */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
/* RESET END */
/* SIDEBAR START */
.sidebar {
  width: 17rem;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
}
.sidebar-container {
  background: #e60023;
  color: #fff;
  padding: 1rem;
  overflow: auto;
  height: 100%;
}
.sidebar-content {
  padding-right: 0.5rem;
  max-height: calc(100% - 5.5rem); /* Adjust max-height as needed */
  overflow-y: auto; /* Always show a scrollbar, even when not scrolling */
  scrollbar-width: thin; /* Firefox */
  -webkit-scrollbar-width: thin; /* Webkit (Chrome, Safari) */
}
/* Hide the scrollbar for Webkit browsers (Chrome, Safari) */
.sidebar-content::-webkit-scrollbar {
  width: 0.3rem; /* Adjust the width as needed */
}

.sidebar-content::-webkit-scrollbar-thumb {
  background: black; /* Hide the thumb */
  border-radius: 100%;
}
.sidebar h2 {
  margin: 0;
}

.sidebar-icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.5rem;
  margin-right: 1rem;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  text-decoration: none;
  font-weight: 700;
  color: black;
}

.sidebar-link:hover {
  opacity: 0.8;
  border-radius: 1rem;
  border-width: 0.2rem;
  border-color: black;
  background-color: #fff;
}

/* SIDEBAR END */
/* HEADER START */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.left-icon-container {
  padding: 0rem 1rem;
  display: flex;
}

.user-icon-container {
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
}

.search-input {
  border: 0px;
  border-right: 1px solid gray;
  margin-right: 0.5rem;
  /* flex: 2 ; */
  /* width: 40%; */
}

.search-input-container {
  border: 1px solid gray;
  border-radius: 4rem;
  padding: 0.2rem 1rem;
  display: flex;
  align-items: center;
}

.circle-search-icon {
  border-radius: 50%;
  border-width: 1px solid gray !important;
  padding: 0.2rem;
  background-color: gray;
  margin-right: 0.2rem;
}

/* HEADER END */
.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-template-rows: masonry;
}

/*  */
.pin{
  border: 0.5px solid rgb(196, 196, 183);
  border-radius: 0.5rem;
  /* padding: 0.3rem; */
  margin: 1rem;
}
.pin-image {
  border-radius: 0.5rem;
  width: 100%;
}
.hovered-container {
  display: flex;
  position: absolute;
  top: 0;
  z-index: 50;
  padding: 0.25rem;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.pin-download-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  outline-style: none;
  font-size: 1.25rem;
  line-height: 1.75rem;
  background-color: #ffffff;
  opacity: 0.75;
}
.pin:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  opacity: 1;
}
.pin-container {
  overflow: hidden;
  position: relative;
  width: auto;
  cursor: zoom-in;
}

.user-detail-container {
  display: flex;
  margin-top: 0.5rem;
  gap: 0.5rem;
  align-items: center;
  padding: 0.3rem;
}

.user-profile-picture {
  object-fit: cover;
  border-radius: 9999px;
  width: 2rem;
  height: 2rem;
}

.user-detail-title {
  font-weight: 600;
  text-transform: capitalize;
}

/*  */

/* MEDIA QUERY START */

@media (min-width: 768px) {
  /* .hamburger-icon{
    display: none;
  } */
  .close-icon {
    display: none;
  }
  .circle-search-icon {
    display: none;
  }
}

@media (max-width: 768px) {
  .sidebar-visible {
    display: none;
  }
  .hamburger-icon {
    display: none;
  }
  .search-bar-container {
    display: none;
    width: 30%;
  }
  .masonry-layout {
    left: 0rem !important;
  }
}

/* MEDIA QUERY END */
