/* RESET START */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
/* RESET END */
/* SIDEBAR START */
.sidebar {
  width: 17rem;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
}
.sidebar-container{
  background: #E60023;
  color: #fff;
  padding: 1rem;
  overflow: auto;
  height: 100%;
}
.sidebar-content {
  padding-right: 0.5rem;
  max-height: calc(100% - 5.5rem); /* Adjust max-height as needed */
  overflow-y: auto; /* Always show a scrollbar, even when not scrolling */
  scrollbar-width: thin; /* Firefox */
  -webkit-scrollbar-width: thin; /* Webkit (Chrome, Safari) */
}
/* Hide the scrollbar for Webkit browsers (Chrome, Safari) */
.sidebar-content::-webkit-scrollbar {
  width: 0.3rem; /* Adjust the width as needed */
}

.sidebar-content::-webkit-scrollbar-thumb {
  background: black; /* Hide the thumb */
  border-radius: 100%;
}
.sidebar h2 {
  margin: 0;
}

.sidebar-icon{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.5rem;
  margin-right: 1rem;
}

.sidebar-link{
  display: flex;
  align-items: center;
  padding: 0.25rem;
  text-decoration: none;
  font-weight: 700;
  color: black;
}

.sidebar-link:hover {
  opacity: 0.8;
  border-radius: 1rem;
  border-width: 0.2rem;
  border-color: black;
  background-color: #fff;
}

/* SIDEBAR END */
/* HEADER START */

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.left-icon-container{
  padding: 0rem 1rem;
  display: flex;
}

.user-icon-container{
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
}

.search-input{
  border: 0px;
  border-right: 1px solid gray;
  margin-right: 0.5rem;
  /* flex: 2 ; */
  /* width: 40%; */
}

.search-input-container{
  border: 1px solid gray;
  border-radius: 4rem;
  padding: 0.2rem 1rem;
  display: flex;
  align-items: center;
}

.circle-search-icon{
  border-radius: 50%;
  border-width: 1px solid gray !important;
  padding: 0.2rem;
  background-color: gray;
  margin-right: 0.2rem;
}

/* HEADER END */

/* MEDIA QUERY START */

@media (min-width: 768px) { 
  /* .hamburger-icon{
    display: none;
  } */
  .close-icon{
    display: none;
  }
  .circle-search-icon{
    display: none;
  }
 }

 @media (max-width: 768px) { 
  .sidebar-visible{
    display: none;
  }
  .hamburger-icon{
    display: none;
  }
  .search-bar-container{
    display: none;
    width: 30%;
  }
 }

/* MEDIA QUERY END */